# MongoDB Atlas Connection String
# Get this from MongoDB Atlas > Connect > Drivers
DATABASE_URL="mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/taskmanager?retryWrites=true&w=majority"


# JWT Secret - Generate with: openssl rand -base64 32
AUTH_SECRET="your-super-secret-jwt-key-minimum-32-characters-long"
